@import "tailwindcss";

:root {
  --gta-green: #22c55e; /* Green-500 wage */
  font-family: 'Inter', sans-serif;
  background-color: #09090b; /* Zinc-950 Dark BG */
  color: white;
}

body {
  margin: 0;
  overflow-x: hidden;
}